name: Verify
on:
  pull_request:
    paths-ignore:
      - "**.md"
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  test-and-lint:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-go@v4
      with:
        go-version-file: go.mod

    - name: Install golangci-lint
      run: |
        curl -sfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.54.0

    - name: Verify
      run: make verify

    - name: Test
      run: make test

    - name: Codecov report
      run: bash <(curl -s https://codecov.io/bash)

  trivy:
    uses: "./.github/workflows/common-trivy.yaml"
    with:
      upload-to-github-security-tab: true
